button {
  padding: 4px 16px;
  height: fit-content;

}

button.one {
  transition: transform 0.3s;
}

button.one:hover {
  transform: scale(1.05);
}


button.two {
  transition: transition 1s cubic-bezier(.19, 1, .22, 1);
}

button.two:hover {
  animation: shrink 1s ease both;
}

button.three {
  transition: transform 1s cubic-bezier(.19, 1, .22, 1);
}

button.three:hover {
  transform: rotate(350deg);
}

button.superstyled {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
  border: solid black 2px;
  border-radius: 500px;
  padding: 8px 24px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.856);
}

button.superstyled span {
  font-weight: 500;
  font-size: 16px;
}

button.superstyled:hover {
  transform: scale(1.05);
  color: white;
  border-color: white;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.0);
  background-color: rgb(12, 104, 233);
  cursor: pointer;
}

button.superstyled:active {
  transform: scale(0.95);
  cursor: pointer;
}

.moving-box {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.5s ease;
  animation: moveAndChangeColor 4s infinite alternate;
}

@keyframes shaky {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  75% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

@keyframes bgchange {
  from {
    background-color: rgba(0, 0, 0, 0.159);
  }

  to {
    background-color: rgb(12, 104, 233);
  }
}

@keyframes moveAndChangeColor {
  0% {
    background-color: #3498db;
    transform: translate(-50%, -50%);
  }

  50% {
    background-color: #e74c3c;
    /* Change to your desired color */
    transform: translate(50%, 50%);
  }

  100% {
    background-color: #cadb34;
    transform: translate(-50%, -50%);
  }
}