* {
    box-sizing: border-box;
    margin: 0;
}


body {
    display: flex;
    gap: 50px;
    flex-direction: column;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: aquamarine;
}



div.grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: azure;
    animation: slideIn ease 2s;

}

div.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 100px;
}

.calc-inputs {
    display: flex;
    flex-direction: column;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* input[type=text] {
    
} */